@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Titillium+Web:wght@200&display=swap');

body{
    font-family: 'Nunito', sans-serif;
}

.modelo{
    background:#666;
    color: white;
}