.slider-box {
  width: 100%;
  height: auto;
  margin: 0 auto 0;
  overflow: hidden;
}

.slider-box ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 30s infinite alternate ease-in-out;
}

.slider-box li {
  width: 100%;
  list-style: none;
  position: relative;
}

.texto {
  position: absolute;
  text-align: center;
  padding: 0 3rem;
  top: 5vh;
  color: #D5DFE5;
}

.texto h2 {
  font-size: clamp(1rem, 4vw, 6rem);
  margin-bottom: 5vh;
  color: #E68231;
  -webkit-text-stroke: .5px #000;
}

.texto p {
  font-size: clamp(.5rem, 2vw, 3rem);
}

.slider-box img {
  width: 100%;
  height: auto;
  filter: brightness(0.5);
}


@keyframes slide {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }
}